* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*横竖屏幕提示判断*/
.mod-orient-layer {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #76bbd3;
    z-index: 9999;
}

.mod-orient-layer_content {
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center
}

.mod-orient-layer_icon-orient {
    margin-bottom: 40px;
    background: url("../images/tipre.png") no-repeat 0 0;
    background-size: 100% 100%;
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -webkit-animation: rotation infinite 1.5s ease-in-out;
    animation: rotation infinite 1.5s ease-in-out;
}

@keyframes rotation {
    10% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg)
    }
    50%, 60% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    90% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg)
    }
    100% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg)
    }
}

.text img {
    position: absolute;
    width: 25%;
    left: 36%;
    top: 66%;
}

/*横竖屏幕提示结束*/

/*主页面开始*/
#facebox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#kedou {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50.5%);
    width: 9%;

}

#star {
    position: absolute;
    width: 45%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 4s all;
    animation: 4s first ease-in-out;
    -webkit-animation: 4s first ease-in-out;
}

@-webkit-keyframes first {
    0% {

        opacity: 0;
    }
    50% {

        opacity: 0.1;
    }

    90% {

        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }

}

@keyframes first {
    0% {

        opacity: 0;
    }
    50% {

        opacity: 0.1;
    }

    90% {

        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }

}

#moom {
    width: 65%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 4s all;
    animation: 4s first ease-in-out;
    -webkit-animation: 4s first ease-in-out;
}

/*主页面结束*/

/*视频播放*/

#myvideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

/*视频结束*/


